:root {
  font: "Kumbh sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MOBILE FIRST */

body {
  width: 100%;
  height: 100vh;
  font-family: "Kumbh sans", sans-serif;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
}

.brand-title {
  font-size: 1.25rem;
  font-weight: bold;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style-type: none;
  padding: 20px;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
  color: black;
}

.cart-button {
  background: none;
  padding: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

/* model */

.cart-container {
  display: none;
  position: absolute;
  top: 15%;
  width: 90%;
  height: 260px;
  margin-left:5% ;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 10px;
}

.cart-container h1 {
  font-size: 16px;
  padding: 10px;
  border-bottom: 0.5px solid grey;
}

.cart-container p {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
  font-weight: bold;
  color: grey;
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.cart-content p {
  font-weight: normal;
  color: black;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-details p {
  margin: 0;
  color: #999999;
}

.cart-item-total-price {
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

.img-delete {
  margin-left: auto;
  cursor: pointer;
}


.checkout-button {
  position: relative;
  top:20%;
  background-color: #ff7d1b;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  gap: 1rem;
  margin: 0 auto;
}


.menu-links {
  transform: translateX(-100%); 
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 1000;
  transition: transform 0.5s ease; /
}

.menu-links.menu-open {
  transform: translateX(0); 
}

.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease; /* Smooth liukuma opacity */
  opacity: 0;
}

.overlay.open {
  display: block;
  opacity: 1;
}

.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav-item {
  position: relative;
}

.nav-item > a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

header h1 {
  position: absolute;
  left: 20%;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart-button {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px; 
  right: -5px; 
  background-color:#ff7d1b;
  color: white;
  border-radius: 30%;
  width: 20px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

main {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: auto;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.thumbnail-gallery {
  display: none;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none;
}

.product-image.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


aside {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

aside section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

aside p {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  color: #666666;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.left-section {
  display: flex;
  gap: 10px;
}

.current-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  margin-right: 0.5rem;
}

.discount-badge {
  background-color: black;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
}

.original-price {
  text-decoration: line-through;
  color: #999999;
}

.quantity-button {
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.quantity-container {
  width: 100%;
  height: 40px;
  background: rgb(240, 238, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  max-width: 100%;
  min-height: 40px;
  margin: 10px auto;
}

#ad {
  background-color: #ff7d1b;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  gap: 1rem;
  margin: 0 auto;
}

#ad p {
  color: black;
  font-weight: 700;
}


/*Responsive*/

@media (min-width:468px) {
main article {
    max-width: 470px;
   }

   .cart-container {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 460px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    top: 70px;
  }
  
  .cart-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .cart-item-image {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .item-price, .item-quantity, .cart-item-total-price {
   margin-left: 15px;
margin-bottom: 20px;

  }
  .img-delete {
    margin-left: auto;
    cursor: pointer;
  }
  
  .img-delete img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 30px;
  }

  .checkout-button {
   position: relative;
   top: 20%;
  }
  
}

@media (min-width:568px) {
  main article {   
    max-width: 500px;
  }
  

}

@media (min-width: 650px) {
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }

  article img {
    border-radius: 8%;
    max-width: 90%;
    margin: 5%;

  }

  .thumbnail-gallery {
    margin-left: 10%;
    gap: 10px; 

  }

  main section {
    flex: 1;
   
  }

  aside {
    width: 45%;
    margin-left: 20px;
    padding: 5px;
    height: 700px;
  }

  .cart-container {
    max-width: 350px;
    height: auto;
   
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 50px;
  }

}

@media (min-width: 690px) {


  .prev {
    left: 30px;
  }

  .next {
    right: 66px;
  }

}

@media (min-width: 768px) {


  aside {
    width: 45%;
    padding: 30px;
    margin-left: 20px;
    height: 700px;
  }

  .prev {
    left: 40px;
  }

  .next {
    right: 80px;
  } 
}

  @media (min-width: 900px) {

    header {
      position: relative;
    }
    
    header::before,
    header::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: calc(50% - 10px); 
      height: 1px;
      border-bottom: 1px solid rgb(202, 189, 189);
    }
    
    header::before {
      left: 9%;
    }
    
    header::after {
      right: 9%;
    }
  
    .menu-links {
      position: relative;
      left: 5%;
      display: flex;
      flex-direction: row;
      background: none;
      width: 60%;
      height: auto;
      transform: none;
      transition: none;
    }
  
    .menu-links a {
      color: #999999;
      font-weight: 400;
      position: relative;
    }
  
    .menu-links a::after {
     content: '';
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 4px; 
      background-color: #ff7d1b; 
      transition: width 0.3s all;
    }
  
    .menu-links a:hover::after {
      width: 100%;
    }
  
    .menu-links a:hover {
      color: black;
      font-weight: 400;
    }
  
    .menu-links li {
      padding: 0 20px;
    }
  
    #menu-btn, #close-menu-btn, .overlay {
      display: none;
    }
  
    nav {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  
    .header-icons {
      padding-right: 10%;
    }
  
    #brand-title {
      left: 40px;
      padding: 5%;
    }
  
    .user-avatar {
      width: 40px;
      height: 40px;
    }
  
    .user-avatar:hover {
      cursor: pointer;
      border: 2px solid #ff7d1b;
    }
  
    aside {
      position: relative;
      top: 30px;
      margin: 0;
    }
  
    .carousel-button {
      display: none;
    }
  
    .sneaker_companyt_text {
      font-size: 24px;
    }
  
    .price-container {
      margin: 45px;
    }
  
    .quantity-cart-container {
      display: flex;
      flex-direction: row;
      padding: 5%;
    }
  
    .quantity-container {
      width: 40%;
      height: 0;
    }
  
    #ad {
      width: 50%;
      height: 60px;
      margin-top: 40px;
    }
  
    #ad:hover {
      background-color: #d09263;
    }
  
    .checkout-button:hover {
      background-color: #d09263;
    }
  
    .thumbnail-gallery {
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer;
      position: relative;
      right: 4%;
    }
  
    .product-thumbnail {
      margin: 2px;
      padding: 2px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      transition: opacity 0.3s ease, border 0.3s ease;
    }
  
    .product-thumbnail:hover,
    .product-thumbnail.active {
      opacity: 0.7;
    }
  
    .product-thumbnail.active {
      border: 1px solid #ff7d1b;
      background: #ff7d1b;
    }

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.lightbox-main-image {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 20px;
  position: relative;
  top: 6%;
  border-radius: 10%;
}

.lightbox-thumbnail-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
 
}

.lightbox-product-thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 5%;
}

.lightbox-product-thumbnail:hover{
  opacity: 0.7;
}

.lightbox-product-thumbnail.active {
  border: 2px solid #ff7d1b;
  opacity: 0.3;
}

.close-lightbox {
  position: absolute;
  top: 20px;
  right: 25%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  }

.close-lightbox:hover {
  filter: brightness(0) saturate(100%) invert(66%) sepia(84%) saturate(2144%) hue-rotate(346deg) brightness(103%) contrast(101%);
}

.button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 30%;
}

.next {
  right: 30%;
}

.button img {
  width: 20px;
  height: 20px;
  transition: filter 0.3s;
}

.button:hover img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(84%) saturate(2144%) hue-rotate(346deg) brightness(103%) contrast(101%);
}
}

  @media (max-width: 899px) {
    .lightbox {
      display: none;
    }
  }
  